body{
    background-color: whitesmoke;
    text-align: center;

}
h1{
    font-size: 45px;
    color: rgb(139 122 20);
    font-weight: lighter;
    font-style: italic;
    transition: all 1s ease-in-out;
}
h1:hover{
    color: red;
    transition: all 1s ease-in-out;
}
div.container{
    background-color: rgb(211, 187, 187);
    font-size: 30px;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

button.plus{
    color: red;
    position: relative;
    left: 47%;
    bottom: 69px;

}